p #{message}
form(action='/form',method='post')
    input(type='hidden', name='_csrf', value=token)
    label(for='color') Color:
    input(type='text',name='color',size='50')
    button(type='submit') Save